.cards {
    display: flex;
    width: 920px;
    align-self: center;
    flex-wrap: wrap;
    column-gap: 100px;
}

.cards__item {
    margin: 60px 0 60px 0;
    width: 240px;
}

.cards__image {
    width: 160px;
    height: 160px;
    margin: 0 40px 43px;
    border-radius: 50%;
}

.cards__title {
    text-align: center;
    margin-bottom: 16px;
    line-height: 1.15;
    font-size: 24px;
    font-weight: 600;
}

.cards__description {
    text-align: center;
    line-height: 23px;
    font-size: 18px;
    font-weight: normal;
}
